<h1>Proposals</h1>
<% @proposals.each do |proposal| %>
	<%= link_to proposal.summary, proposal_path(proposal) %><br>
<% end %>

<br>
<h3>Add New Proposal</h3>
<%= render :partial => 'proposals/_new', :locals => {} %>

