<h1>Experiments</h1>
<% experiments.each do |experiment| %>
	<%= link_to experiment.title, experiment_path(experiment) %><br>
<% end %>

<br>
<% if logged_in? && current_user.isScientist == true %>
	<h3>Add New Experiment</h3>
	<%= render :partial => 'experiments/new', :locals => {proposal: @proposal} %>
<% end %>
